[submodule "igraph"]
	path = igraph
	url = https://github.com/igraph/igraph.git
[submodule "kivy"]
	path = kivy
	url = git@github.com:LogicalDash/kivy.git
[submodule "stiffscroll"]
	path = stiffscroll
	url = git@github.com:LogicalDash/stiffscroll.git
[submodule "ELiDE/kivygarden/texturestack"]
	path = ELiDE/kivygarden/texturestack
	url = git@github.com:kivy-garden/garden.texturestack.git
