*__pycache__*
build/
dist/
wheelhouse/
*.whl
.idea/
*.db
*.db-journal
*.egg-info
*.log
.eric6project
.ropeproject
*.e4p
.cache
elide.ini
*.prof
*.so
*.csv
ELiDE/LiSE
ELiDE/allegedb
LiSE/allegedb
*.pyc
*~
trigger.py
prereq.py
action.py
function.py
method.py
strings.json
ELiDE.ini
.coverage
.pytest_cache
breakage.diff